@import url('https://fonts.googleapis.com/css2?family=Actor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header > h1 {
    margin-top: 70px;
    font-family: Actor, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    letter-spacing: -0.333333px;
    text-transform: uppercase;
    color: #6D6D6D;   
    background: #F3F8F9;
}

body {
    background: #F3F8F9;;
}

.separator {
    position: static;
    width: 273px;
    height: 8px;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    background: #F5FCFD;
    box-shadow: inset 4px 4px 4px rgba(12, 11, 11, 0.17), inset -4px -4px 4px rgba(255, 255, 255, 0.95);
    border-radius: 30px;
}

.scoreboard-outer {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 276px;
    height: 200px;
    background: #F3F8F9;
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.72), 9px 9px 9px rgba(173, 173, 173, 0.3);
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.scoreboard-inner {
    position: absolute;
    margin-top: 2rem;
    margin-left: 2rem;
    width: 209px;
    height: 97px;
    background: #F3F8F9;
    box-shadow: inset -12px -12px 12px rgba(255, 255, 255, 0.72), inset 9px 9px 9px rgba(173, 173, 173, 0.3);
    border-radius: 18px;
    text-align: center;
    padding-top: 1.5rem;
}

#vertical-separator {
    width: 8px;
    height: 52px;
    background: #F5FCFD;
    box-shadow: inset 4px 4px 4px rgba(12, 11, 11, 0.17), inset -4px -4px 4px rgba(255, 255, 255, 0.95);
    border-radius: 30px;
    position: absolute;
    top: 138px;
    right: 135px;
}

.scores {
    font-family: Orbitron, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.333333px;
    color: #000000;
}

.badge {
    display: inline-block;
    font-family: Advent Pro, sans-serif;
    font-size: 22px;
    letter-spacing: -0.333333px;
    color: #6D6D6D;
}

#user-label {
    position: absolute;
    top: 150px;
    right: 180px;
}

#computer-label {
    position: absolute;
    top: 150px;
    left: 180px;
}

.result-box-outer {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 276px;
    height: 57px;
    background: #F3F8F9;
    box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.72), 9px 9px 9px rgba(173, 173, 173, 0.3);
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.result-box-inner {
    position: absolute;
    margin-top: 5.5px;
    margin-left: 7px;
    width: 261px;
    height: 45px;
    background: #F3F8F9;
    box-shadow: inset -10px -10px 10px rgba(255, 255, 255, 0.72), inset 5px 5px 5px rgba(173, 173, 173, 0.3);
    border-radius: 30px;
}

.result {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 240px;
    height: 19px;
    font-family: Actor, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.333333px;
    color: #000000;
}

.choices {
    text-align: center;
    margin: 41px 0;
}

.choice {
    display: inline-block;
    margin: 0 10px;
    width: 76px;
    height: 76px;
    border-radius: 50%;
    box-shadow: 7px 7px 10px rgba(173, 173, 173, 0.4), -7px -7px 10px rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.choice > img {
    height: 50px;
    width: 50px;
    position: relative;
    margin-top: 12px;
}

.choice:active {
    width: 76px;
    height: 76px;
    background: #F3F8F9;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.9);
}

.choice:active > img{
    width: 48px;
    height: 48px;
    margin-top: 14px;
}

.reset {
    text-align: center;
    margin: 0 auto;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #F3F8F9;
    box-shadow: 4px 4px 5px rgba(111, 111, 111, 0.3), -5px -5px 8px rgba(255, 255, 255, 0.9);
    cursor: pointer;
}

.reset:active {
    width: 42px;
    height: 42px;
    background: #F3F8F9;
    box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.1), inset -4px -4px 4px rgba(255, 255, 255, 0.9);
}

.reset > img {
    height: 20px;
    width: 20px;
    margin: 12px 0;
}

.reset:active > img {
    width: 18px;
    height: 18px;
}

footer {
    text-align: center;
    font-size: 12px;
    font-family: Avent Pro, sans-serif;
    margin: 40px 0;
}